In [1]:
import pandas as pd

In [2]:
res = pd.read_excel("LTR_cleaned.xlsx")

In [3]:
res

,nearestGene,sample,posid,nCellBarcodes,cellBarCodes
0,CLCC1,16CT023-12_TDN,chr1-108950173,1,TGCTGCTAGGCAAAGA
1,PTPN7,19CT023-12_D7,chr1-202153183,1,CCTAAAGTCCGTCATC
2,TARBP1,19CT023-09_D10,chr1-234466744,1,TTCGAAGGTCTTGATG
3,ARID4B,16CT023-14_TDN,chr1-235215349,1,CCTTCGATCAGTTAGC
4,GPBP1L1,19CT023-04-D10,chr1-45683520,1,TGACGGCGTGCACGAA
...,...,...,...,...,...
249,PLCXD1,19CT023-04-D10,chrY+260783,1,ACTTACTGTGCGATAG
250,TGIF2LY,16CT023-14_D7,chrY+4257555,1,GTGCTTCAGGATGGTC
251,TGIF2LY,19CT023-18_TDN,chrY+4257555,1,GTGCTTCAGGATGGTC
252,SHOX,16CT023-12_TDN,chrY+688744,1,TTAACTCCATTAACCG
253,PRKY,19CT023-12_TDN,chrY+7440353,1,GGGACCTGTTTCGCTC

In [4]:
ind = pd.read_csv("sampleNameIndex.tsv", sep='\t')

In [5]:
mapid = {}
for index, row in ind.iterrows():
    mapid[row['Value']] = str(row['Index'])

In [6]:
res['index'] =res['sample'].map(mapid)

In [7]:
res

,nearestGene,sample,posid,nCellBarcodes,cellBarCodes,index
0,CLCC1,16CT023-12_TDN,chr1-108950173,1,TGCTGCTAGGCAAAGA,4
1,PTPN7,19CT023-12_D7,chr1-202153183,1,CCTAAAGTCCGTCATC,13
2,TARBP1,19CT023-09_D10,chr1-234466744,1,TTCGAAGGTCTTGATG,11
3,ARID4B,16CT023-14_TDN,chr1-235215349,1,CCTTCGATCAGTTAGC,6
4,GPBP1L1,19CT023-04-D10,chr1-45683520,1,TGACGGCGTGCACGAA,10
...,...,...,...,...,...,...
249,PLCXD1,19CT023-04-D10,chrY+260783,1,ACTTACTGTGCGATAG,10
250,TGIF2LY,16CT023-14_D7,chrY+4257555,1,GTGCTTCAGGATGGTC,5
251,TGIF2LY,19CT023-18_TDN,chrY+4257555,1,GTGCTTCAGGATGGTC,16
252,SHOX,16CT023-12_TDN,chrY+688744,1,TTAACTCCATTAACCG,4
253,PRKY,19CT023-12_TDN,chrY+7440353,1,GGGACCTGTTTCGCTC,14

In [10]:
res['labeled']=res['cellBarCodes']+'-1_'+res['index']

In [12]:
res.to_csv('result_marked.tsv', sep='\t', index=False)